body {
    font-family: 'Poppins', sans-serif; /* Use Google Font for better typography */
    margin: 0;
    padding: 0;
    background: linear-gradient(to bottom, #3498db, #2980b9); /* Gradient from top to bottom */
    background-image: url(bg7.jpg); /* Background image */
    background-size: cover; /* Ensure pattern covers the entire background */
    color: #fff; /* Set default text color to white */
}

.container {
    width: 90%; /* Increase container width for better readability */
    margin: 0 auto;
    padding: 20px; /* Add padding to create space between content and container edges */
}

header {
    background-color: rgba(0, 0, 0, 0.7); /* Increase transparency for a more subtle effect */
    padding: 20px 0;
    border-bottom: 2px solid #fff; /* Add a border to separate header from content */
}

header h1 {
    margin: 0;
    font-size: 36px; /* Increase font size for header */
    text-align: center; /* Center align header text */
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center; /* Center align navigation links */
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 18px; /* Increase font size for navigation links */
}

.hero {
    text-align: center;
    padding: 100px 0;
}

.hero img {
    border-radius: 50%;
    width: 200px;
    height: 200px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5); /* Add a subtle shadow to the image */
}

section {
    padding: 50px 0;
}

h2 {
    text-align: center;
    margin-bottom: 30px;
    font-size: 28px; /* Increase font size for section headings */
}

.about-content {
    max-width: 800px; /* Increase maximum width for better readability */
    margin: 0 auto;
    text-align: center;
}

ul {
    padding: 0;
    margin: 0;
}

ul li {
    margin-bottom: 10px;
    font-size: 16px; /* Adjust font size for list items */
}

.project h3 {
    color: #ff7f50; /* Change project name color to coral */
    font-size: 24px; /* Increase font size for project names */
}

footer {
    background-color: rgba(0, 0, 0, 0.7); /* Increase transparency for footer */
    padding: 20px 0;
    border-top: 2px solid #fff; /* Add a border to separate footer from content */
    text-align: center;
    font-size: 16px; /* Adjust font size for footer text */
}
